server:
  port: 9001

spring:
  application:
    name: user-service


  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/moyujun
    username: root
    password: 123456

  redis:
    host: 192.168.117.128
    port: 6379

  mail:
    default-encoding: utf-8
    # 主机地址
    host: smtp.qq.com
    # 邮箱名
    username: 2665939276@qq.com
    # 授权码 (非邮箱密码)
    password: coocmzbtuckjdibg

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

mybatis-plus:
  type-aliases-package: com.ilovesshan.user.model.po
  mapper-locations: classpath:/mappers/*.xml
  configuration:
    map-underscore-to-camel-case: true
    use-generated-keys: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
